.notice-color {
    background-color: #3c3c3c;
    color: #fff;
  }

.image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.image-individual-part {
  height: 50px;
  background-size: cover;
  background-position: center;
}
.image-individual-img {
  height:500px;
  background-size: cover;
  background-position: center;
}

.font-card {
  font-size: 12px;
}

.fixed-height-card {
  height: 50px
}

.upvote-image-size {
  height: 20px
}

.upvote-font-size {
  font-size: 12px
}

.filter-bg {
  background-color: rgb(248,249,250);
}

.hr-color {
  border: 0.8px solid #131313;
}
