.notice-color {
    background-color: #3c3c3c;
    color: #fff;
  }

.image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.image-individual-part {
  height: 80px;
}
.image-individual-img {
  height:600px;
  background-size: cover;
  background-position: center;
}

.font-card {
  font-size: 12px;
}

.fixed-height-card {
  height: 50px
}

.upvote-image-size {
  height: 20px
}

.upvote-font-size {
  font-size: 12px
}

.filter-bg {
  background-color: "#f0f2f5";
}

.hr-color {
  border: 0.8px solid #131313;
}
.card-width {
  
width: 180px
}

