.notice-color {
    background-color: #3c3c3c;
    color: #fff;
  }

.image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.image-individual-part {
  height: 80px;
}
.image-individual-img {
  height:600px;
  background-size: cover;
  background-position: center;
}

.font-card {
  font-size: 12px;
}

.fixed-height-card {
  height: 50px
}

.upvote-image-size {
  height: 20px
}

.upvote-font-size {
  font-size: 12px
}

.filter-bg {
  background-color: "#f0f2f5";
}

.hr-color {
  border: 0.8px solid #131313;
}
.card-width {
  width: 180px
}
.hover:hover{
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
}

.masked-overflow {
  /* scroll bar width, for use in mask calculations */
  --scrollbar-width: 8px;

  /* mask fade distance, for use in mask calculations */
  --mask-height: 32px;

  /* If content exceeds height of container, overflow! */
  overflow-y: auto;

  /* Our height limit */
  height: 300px;

  /* Need to make sure container has bottom space,
otherwise content at the bottom is always faded out */
  padding-bottom: var(--mask-height);

  /* Keep some space between content and scrollbar */
  padding-right: 20px;

  /* The CSS mask */

  /* The content mask is a linear gradient from top to bottom */
  --mask-image-content: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent
  );

  /* Here we scale the content gradient to the width of the container 
minus the scrollbar width. The height is the full container height */
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

  /* The scrollbar mask is a black pixel */
  --mask-image-scrollbar: linear-gradient(black, black);

  /* The width of our black pixel is the width of the scrollbar.
The height is the full container height */
  --mask-size-scrollbar: var(--scrollbar-width) 100%;

  /* Apply the mask image and mask size variables */
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

  /* Position the content gradient in the top left, and the 
scroll gradient in the top right */
  mask-position: 0 0, 100% 0;

  /* We don't repeat our mask images */
  mask-repeat: no-repeat, no-repeat;
}
